<main class="sign-in-content">
    <div class="sign-in-content__form register-block">
        <h1 class="register-block__header">Регистрация</h1>
        <form class="register-block__form form">
            <div class="form__field field">
                <span class="field__label">Почта</span>
                <input type="text" class="field__text-field" name="email">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
            <div class="form__field field">
                <span class="field__label">Логин</span>
                <input type="text" class="field__text-field" name="login">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
            <div class="form__field field">
                <span class="field__label">Имя</span>
                <input type="text" class="field__text-field" name="first_name">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
            <div class="form__field field">
                <span class="field__label">Фамилия</span>
                <input type="text" class="field__text-field" name="second_name">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
            <div class="form__field field">
                <span class="field__label">Телефон</span>
                <input type="text" class="field__text-field" name="phone">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
            <div class="form__field field">
                <span class="field__label">Пароль</span>
                <input type="text" class="field__text-field" name="password">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
            <div class="form__field field">
                <span class="field__label">Пароль (еще раз)</span>
                <input type="text" class="field__text-field" name="confirm_password">
                <span class="field__error-text">Поле не может быть пустым</span>
            </div>
        </form>
        <div class="register-block__button button button__primary">Зарегистрироваться</div>
        <div class="register-block__button button button__secondary">Войти</div>
    </div>
</main>