<main class="chat-content">
    <div class="chat-content__chat-menu menu">
        <div class="menu__header">
            <div class="menu-button button button__light">Профиль</div>
        </div>
        <div class="menu__search-bar search-bar">
            <input type="text" placeholder="Поиск...">
        </div>
        <div class="menu__chat-list chat-list">
            <div class="chat-list__item chat-item chat-item__active">
                <div class="chat-item__avatar">
                    <div class="avatar__logo"></div>
                </div>
                <div class="chat-item__data chat-data">
                    <div class="chat-data__title">Киноклуб</div>
                    <div class="chat-data__text-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                        est excepturi magni vitae? Eos, inventore nisi nulla quae quia quos ratione soluta tempore
                        voluptate voluptatem? Cupiditate ducimus excepturi harum
                    </div>
                </div>
                <div class="chat-item__sub-data chat-sub-data">
                    <div class="chat-sub-data__time">12:00</div>
                    <div class="chat-sub-data__unread-message notification-element">
                        <div class="notification-element__bubble">4</div>
                    </div>
                </div>
            </div>
            <div class="chat-list__item chat-item">
                <div class="chat-item__avatar">
                    <div class="avatar__logo"></div>
                </div>
                <div class="chat-item__data chat-data">
                    <div class="chat-data__title">Пикабу</div>
                    <div class="chat-data__text-preview">Lorem ipsum
                    </div>
                </div>
                <div class="chat-item__sub-data chat-sub-data">
                    <div class="chat-sub-data__time">10:30</div>
                    <div class="chat-sub-data__unread-message notification-element">
                        <span class="notification-element__bubble__active"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-content__dialog-block dialog-window">
        <div class="dialog-window__header dialog-header">
            <div class="dialog-header__user-data">
                <div class="user-data__user-avatar"></div>
                <div class="user-data__user-name">Владислав</div>
            </div>
            <div class="dialog-header__dialog-actions">
                <div class="circle-button circle-button__light">
                    <svg width="3" height="16" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="1.5" cy="2" r="1.5" fill="#1E1E1E"/>
                        <circle cx="1.5" cy="8" r="1.5" fill="#1E1E1E"/>
                        <circle cx="1.5" cy="14" r="1.5" fill="#1E1E1E"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="dialog-window__dialog-feed feed-content">
            <div class="feed-content__date-stroke">19 июня</div>
            <div class="feed-content__wrapper received">
                <div class="feed-content__message message-item message-item__received">
                    <div class="message-item__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                        architecto at cumque delectus dignissimos, dolore est expedita facere libero minus natus non
                        odit
                        omnis
                        pariatur, quidem rem, repellat sequi? Aperiam!
                    </div>
                    <div class="message-item__message-sub-data">
                        <span class="message-sub-data__status"></span>
                        <div class="message-sub-data__time">11:56</div>
                    </div>
                </div>
            </div>
            <div class="feed-content__wrapper sent">
                <div class="feed-content__message message-item message-item__sent">
                    <div class="message-item__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                        architecto at cumque delectus dignissimos, dolore est expedita facere libero minus natus non
                        odit
                        omnis
                        pariatur, quidem rem, repellat sequi? Aperiam!
                    </div>
                    <div class="message-item__message-sub-data">
                        <span class="message-sub-data__status"></span>
                        <div class="message-sub-data__time">11:56</div>
                    </div>
                </div>
            </div>
            <div class="feed-content__wrapper sent">
                <div class="feed-content__message message-item message-item__sent">
                    <div class="message-item__body">Круто!
                    </div>
                    <div class="message-item__message-sub-data">
                        <span class="message-sub-data__status"></span>
                        <div class="message-sub-data__time">12:54</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-window__action_bar action-tools">
            <div class="action-tools__file-button">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M7.18662 13.5L14.7628 5.92389L15.7056 6.8667L8.12943 14.4428L7.18662 13.5Z"
                          fill="#999999"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.70067 16.0141L17.2768 8.43793L18.2196 9.38074L10.6435 16.9569L9.70067 16.0141Z"
                          fill="#999999"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M15.0433 21.3567L22.6195 13.7806L23.5623 14.7234L15.9861 22.2995L15.0433 21.3567Z"
                          fill="#999999"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M17.5574 23.8708L25.1335 16.2946L26.0763 17.2374L18.5002 24.8136L17.5574 23.8708Z"
                          fill="#999999"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M17.5574 23.8709C14.9423 26.486 10.7118 26.4954 8.10831 23.8919C5.50482 21.2884 5.51424 17.0579 8.12936 14.4428L7.18655 13.5C4.0484 16.6381 4.0371 21.7148 7.16129 24.839C10.2855 27.9632 15.3621 27.9518 18.5003 24.8137L17.5574 23.8709Z"
                          fill="#999999"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M22.6195 13.7806L23.5623 14.7234C26.003 12.2826 26.0118 8.3341 23.5819 5.90417C21.152 3.47424 17.2035 3.48303 14.7627 5.92381L15.7055 6.86662C17.6233 4.94887 20.7257 4.94196 22.6349 6.85119C24.5441 8.76042 24.5372 11.8628 22.6195 13.7806Z"
                          fill="#999999"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.70092 16.0144C7.95751 17.7578 7.95123 20.5782 9.68689 22.3138C11.4226 24.0495 14.2429 24.0432 15.9863 22.2998L15.0435 21.357C13.8231 22.5774 11.8489 22.5818 10.6339 21.3668C9.41894 20.1518 9.42334 18.1776 10.6437 16.9572L9.70092 16.0144Z"
                          fill="#999999"/>
                </svg>
            </div>
            <input type="text" class="action-tools__message-placeholder" placeholder="Сообщение" name="message">
            <div class="action-tools__send-message-button circle-button circle-button__primary">
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="5.19995" width="11" height="1.6" fill="white"/>
                    <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
                </svg>
            </div>
        </div>
    </div>
</main>