<main class="error-page-content">
    <div class="error-page-content__header">500</div>
    <div class="error-page-content__text">Мы уже фиксим</div>
    <a href="#" class="error-page-content__href">Назад к чатам</a>
</main>