<main class="error-page-content">
        <div class="error-page-content__header">404</div>
        <div class="error-page-content__text">Не туда попали</div>
        <a href="#" class="error-page-content__href">Назад к чатам</a>
</main>