<main class="profile-page-content">
    <div class="profile-page-content__button button button__navigation-left-button">
        <span class="button__icon"><svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
        <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#3369F3"/>
        <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
        <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
        </svg>
        </span>
    </div>
    <div class="content__profile profile">
        <div class="profile__avatar-container avatar">
            <div class="avatar__user-logo"></div>
            <input type="file" class="avatar__placeholder-text" placeholder="Поменять аватар" />
        </div>
        <div class="profile__account-name">Иван</div>
        <form class="profile__account-data user-data">
            <div class="user-data__field">
                <div class="user-data-field__title">Старый пароль</div>
                <input type="text" class="user-data-field__text-field user-data-field__text-field__active" placeholder="********" name="oldPassword">
            </div>
            <div class="user-data__field">
                <div class="user-data-field__title">Новый пароль</div>
                <input type="text" class="user-data-field__text-field user-data-field__text-field__active" placeholder="********" name="newPassword">
            </div>
            <div class="user-data__field">
                <div class="user-data-field__title">Повторите новый пароль</div>
                <input type="text" class="user-data-field__text-field user-data-field__text-field__active" placeholder="********" name="confirmNewPassword">
            </div>
        </form>
        <div class="button button__primary">Сохранить</div>
    </div>
</main>